<div id="hierarchy" class="hidden">
    <h3>Select a root item from below to view all of its downstream items,
        or click the "Render Graph" button to view the traceability graph:</h3>
    <%function renderSubItems(item) {%>
    <ul>
        <li>
            <a href="#rootId=<%= item.id %>" data-id="<%= item.id %>"><%= item.name %></a>
            <%if (item.children) {%>
                <%item.children.forEach(function (subItem) {%>
                    <%- renderSubItems(subItem); %>
                <%});%>
            <%}%>
        </li>
    </ul>
    <%}%>
    <ul id="itemHierarchyLists">
        <%if(itemHierarchy) {%>
        <%itemHierarchy.forEach(function (rootItem) {%>
        <li>
            <a href="#rootId=<%= rootItem.id %>" data-id="<%= rootItem.id %>"><%= rootItem.name %></a>
            <%if (rootItem.children) {%>
                <%rootItem.children.forEach(function (subItem) {%>
                    <%- renderSubItems(subItem); %>
                <%});%>
            <%}%>
        </li>
        <%});%>
        <%} else {%>
        <p>Sorry, there are no items to display.</p>
        <%}%>
    </ul>
    <input id="renderButton" type="button" value="Render Graph" >
</div>
