<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <!-- Goes to d3 -->
    <h1><%= title %></h1>
    <h3><%= subtitle + ' ' + projectId %></h3>
    <script>
        let rootID = <%= rootId %>;
        let typeID = <%= typeId %>;
    </script>
    <script src='js/graph.js'></script>
</body>
</html>