<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
  </head>
  <body>
    <h1><%= title %></h1>
    <h3>Click on an item below to view all it's downstream related items,
      or click 'Render Graph' to view the traceability graph:</h3>
    <%function renderSubItems(item) {%>
      <ul>
        <li><%= item.name %></li>
        <%if (item.children) {%>
        <%item.children.forEach(function (subItem) {%>
            <%- renderSubItems(subItem); %>
          <%});%>
        <%}%>
      </ul>
    <%}%>
    <ul id="rootItems">
      <%if(rootItems) {%>
        <%rootItems.forEach(function (rootItem) {%>
          <li>
              <%= rootItem.name %>
              <%if (rootItem.children) {%>
                <%rootItem.children.forEach(function (subItem) {%>
                  <%- renderSubItems(subItem); %>
                <%});%>
              <%}%>
        </li>
        <%});%>
      <%} else {%>
        <p>Sorry, there are no items to display.</p>
      <%}%>
    </ul>
    <script src="js/hierarchy.js"></script>
  </body>
</html>