<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1><%= title %></h1>
<form id="projects" method="post">
    <input type="submit" value="Submit" />
</form>
<h4><%= projects.title %></h4>
<% projects.items.forEach( function(pItem) { %>
    <li><a href="#" data-id="<%- pItem.id %>"><%- pItem.id + ' - ' + pItem.name %></a></li>
<% }); %>
<!--TODO: add error messages -->
<!-- TODO: On a post to this page, don't change the title of the page to the error message -->
<script src="js/project.js"></script>
</body>
</html>
